header{
    display: flex;
    background: green;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.title1{
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.menu1{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#ab1{
    visibility: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
    justify-content: center;
    align-items: center;
}
footer{
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}
.foot1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (max-width: 600px){
    .content{
        height: 1220px;
        margin-bottom: 20px;
    }
    footer{
        height: 190px;
    }
}
