header{
    display: flex;
    background: green;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
.title1{
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.menu1{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
#ab1{
    visibility: hidden;
}
.tit1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 45px;
}
.pg1{
    color: green;
    font-size: 32px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer{
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}
.foot1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 600px){
    header{
        margin-top: 10px;
    }

    p{
        font-size: 15px;
    }
    footer{
        margin-top: 20px;
    }
    .foot1{
        font-size: 12px;
    }
}