header{
    display: flex;
    background: green;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: column;
    margin-top: 111px;
}
.tool{
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
nav:hover .option{
    visibility: visible;
}
.option{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.15);
    text-decoration: none;
    color: green;
    margin-bottom: 2px;
}
.option:hover{
    background: rgb(0, 132, 255);
    color: #FFF;
    visibility: visible;
    transition: 0.25s;
}
.title{
    font-family: 'Abhaya Libre', serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.menu{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}
#ab{
    visibility: hidden;
}
.tit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
    height: 45px;
}
.pg{
    color: green;
    font-size: 32px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    width: 100%;
    height: 400px;
}
.texto1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
}
.texto12{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
}
footer{
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}
.foot{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 600px) {
    .texto1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 94%;
    }
    .texto12{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 94%;
    }
    footer{
        justify-content: center;
        align-items: center;
    }
    .foot{
        font-size: 10px;
    }
}